
div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: [left] 10rem auto 10rem[right];
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas: 
    "head head head"
    "panleft mainbody panright"
    "foot foot foot";

}

header {
    background: rgb(0,0,0,0.2);
    grid-area: head;
}

footer {
    background: rgb(0,0,0,0.2);
    grid-area: foot;
}

.leftpanel {
    background: rgb(0,0,0,0.2);
    grid-area: panleft;
}

.leftpanel {
    background: rgb(0,0,0,0.2);
    grid-area: panright;
}