* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5em;
}

html, body {
    height: 100%;
    margin: 0;
}

section {
    /* view height */
    height: 100vh;

}

#kalatori {
    background: red;
}

#markkinat {
    background: blue;
}
#hinnasto {
    background: green;
}
#yhteys {
    background: gold;
}
#sijainti {
    background: black;
}

#topButton {
    color: #4c4cda;
    font-size: 1em;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: top;
    outline: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#topButton:hover {
    background-color: #dadada;
}