* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 3;
	font-family: 'Open Sans', sans-serif;

    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

header {
    background: #232323;
    background-blend-mode: multiply;
}

nav {
    background: #323232;
    background-blend-mode: multiply;
}

p, h1, aside {
	color: black;
}

.right-sidebar {
    background-color: #aaaaaa;
}

footer {
    background: #323232;
    background-blend-mode: multiply;
}

.container, .content {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #content {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 6;
        order: 1;
    }
    article {
        flex: 4;
        order: 1;
        border: 1px black;
        line-height: normal;
    }
    article > h1 {
        padding-top: 2%;
    }
    article > p {
        padding-top: 2%;
        max-width: 90%;
        margin: auto;
    }
    img  {
        flex: 2;
        order: 2;
        object-fit: cover;
    }
    .right-sidebar  {
        flex: 1;
        order: 3;
        min-height: 82.7vh;
    }
}