body {
    background-color: rgb(88, 185, 218);
    color: darkblue;
    align-content: left;
    padding-left: 15%;
}

#tarkein {
    color: red;
    box-sizing: content-box;
    border: 3px solid navy;
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
}