button {
    /*text color not the actual button color*/
    color: black;
}

body {
    background-color: lightblue;
    overflow: scroll;
    width: 80%;
}

.left-marginal {
    padding-left: 20%;
}
