
body, html {
    padding: 0;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
    background-color: #181a1b;

    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#ruokakuvat {
    outline: 1px solid black;
}

#ruokakuvat img {
    float: center;
    border-radius: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

#aukiolo {
    outline: 1px solid black;
}

#poutavaraus {
    padding-top: 10px;
}

#kuvaus {
    font-size: 150%;
}

/* #erikoisa {
    margin-top: 15px;
}

#erikoisa label{
    float: center;
    width: 0;
    margin-right: 0.5vw;
    text-align: center;
} */

footer {
    font-size: 120%;
}

input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;

    font-size: 115%;
}
  
input[type=submit]:hover {
    background-color: #e7e7e7;
}

.poutavaraus {
	max-width: 500px;
	padding: 20px 12px 10px 20px;
}
.poutavaraus2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.poutavaraus2 label > span {
	width: 40px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.poutavaraus2 #puhnum {
	width: 185px;
	text-align: center;
}

.poutavaraus2 input, 
.poutavaraus2 textarea {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	resize: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}